/* Box Model Hack */
* {
  -moz-box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
  content: '.';
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

.clear {
  clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
}

/******************************************
/* LAYOUT
/*******************************************/

header,
footer {
  height: 200px;
  border: 1px solid black;
  background-color: lightgray;
}

section {
  height: 200px;
  border: 1px solid black;
  background-color: lightgray;
  flex: 1;
}

main,
.bottom {
  display: flex;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
